In [1]:
!pip install beautifulsoup4
!pip install lxml
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import lxml

Requirement already satisfied: beautifulsoup4 in /home/ayush/.local/lib/python3.8/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /home/ayush/.local/lib/python3.8/site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: lxml in /home/ayush/.local/lib/python3.8/site-packages (4.9.3)

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) chrome/80.0.3987.162 Safari/537.36'}
page = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [3]:
sp = BeautifulSoup(page,"lxml")

In [5]:
print(sp.prettify())

In [6]:
sp.find_all('h1')[0].text
count=0
for i in sp.find_all('h2'):
    count=count+1
    print(i.text.strip())
count

TCS
Accenture
Cognizant
Wipro
ICICI Bank
HDFC Bank
Infosys
Capgemini
Tech Mahindra
HCLTech
Genpact
Axis Bank
Concentrix Corporation
Amazon
Reliance Jio
IBM
Larsen & Toubro Limited
HDB Financial Services
Reliance Retail
Teleperformance
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

24

In [7]:
for i in sp.find_all('p',class_='rating'):
    print(i.text.strip())

In [8]:
count=0
for i in sp.find_all('span',class_='companyCardWrapper__companyRatingValue'):
    count=count+1;
    print(i.text.strip())
print(count)

3.8
4.1
3.9
3.8
4.0
3.9
3.9
3.9
3.7
3.7
4.0
3.8
3.9
4.2
3.9
4.1
4.0
4.0
3.9
3.6
20

In [9]:
company = sp.find_all('div',class_='companyCardWrapper')
name=[]
rating=[]
reviews=[]
jobs=[]
salary_average=[]
for i in range(0,20):
    name.append(sp.find_all('h2',class_='companyCardWrapper__companyName')[i].text.strip())
for i in range(0,20):
    rating.append(sp.find_all('span',class_='companyCardWrapper__companyRatingValue')[i].text.strip())

for i in range(0,20):
    reviews.append(sp.find_all('span',class_='companyCardWrapper__ActionCount')[i].text.strip())

In [10]:
print(name)

['TCS', 'Accenture', 'Cognizant', 'Wipro', 'ICICI Bank', 'HDFC Bank', 'Infosys', 'Capgemini', 'Tech Mahindra', 'HCLTech', 'Genpact', 'Axis Bank', 'Concentrix Corporation', 'Amazon', 'Reliance Jio', 'IBM', 'Larsen & Toubro Limited', 'HDB Financial Services', 'Reliance Retail', 'Teleperformance']

In [11]:
print(rating)
len(rating)

['3.8', '4.1', '3.9', '3.8', '4.0', '3.9', '3.9', '3.9', '3.7', '3.7', '4.0', '3.8', '3.9', '4.2', '3.9', '4.1', '4.0', '4.0', '3.9', '3.6']

20

In [12]:
print(reviews)
print(len(reviews))

['63.4k', '734.3k', '5.3k', '45', '25.5k', '64', '40.5k', '513.2k', '3.6k', '14.8k', '18.2k', '36', '36.9k', '496.8k', '3.2k', '567', '14.9k', '47', '33.6k', '370.1k']
20

In [13]:
print(salary_average)

[]

In [14]:
re = sp.find_all('span',class_='companyCardWrapper__ActionCount')

print(len(re))

120

In [15]:
print(re[1].text.strip())
print(re[7].text.strip())
print(re[13].text.strip())
print(re[19].text.strip())

734.3k
513.2k
496.8k
370.1k

In [16]:
salary_average =[]
for i in range(1,120,6):
    salary_average.append((re[i].text.strip()))
salary_average

['734.3k',
 '513.2k',
 '496.8k',
 '370.1k',
 '136.9k',
 '125.8k',
 '417.4k',
 '337.5k',
 '236.3k',
 '249.4k',
 '176.1k',
 '95k',
 '96.7k',
 '119.3k',
 '66.7k',
 '203.9k',
 '78.2k',
 '49.5k',
 '53.7k',
 '72.5k']

In [17]:
data = {
    'name':name,
    'salary':salary_average,
    'rating':rating,
    'reviews':reviews
}
dataset = pd.DataFrame(data)

In [18]:
dataset

                       name  salary rating reviews
0                       TCS  734.3k    3.8   63.4k
1                 Accenture  513.2k    4.1  734.3k
2                 Cognizant  496.8k    3.9    5.3k
3                     Wipro  370.1k    3.8      45
4                ICICI Bank  136.9k    4.0   25.5k
5                 HDFC Bank  125.8k    3.9      64
6                   Infosys  417.4k    3.9   40.5k
7                 Capgemini  337.5k    3.9  513.2k
8             Tech Mahindra  236.3k    3.7    3.6k
9                   HCLTech  249.4k    3.7   14.8k
10                  Genpact  176.1k    4.0   18.2k
11                Axis Bank     95k    3.8      36
12   Concentrix Corporation   96.7k    3.9   36.9k
13                   Amazon  119.3k    4.2  496.8k
14             Reliance Jio   66.7k    3.9    3.2k
15                      IBM  203.9k    4.1     567
16  Larsen & Toubro Limited   78.2k    4.0   14.9k
17   HDB Financial Services   49.5k    4.0      47
18          Reliance Retail   53.7k    3.9   33.6k
19          Teleperformance   72.5k    3.6  370.1k