In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

AttributeError: module 'numpy.random' has no attribute 'BitGenerator'

In [10]:
!pip install seaborn

Requirement already satisfied: seaborn in /home/ayush/.local/lib/python3.8/site-packages (0.12.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /usr/lib/python3/dist-packages (from seaborn) (3.1.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /home/ayush/.local/lib/python3.8/site-packages (from seaborn) (1.24.4)
Requirement already satisfied: pandas>=0.25 in /home/ayush/.local/lib/python3.8/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: tzdata>=2022.1 in /home/ayush/.local/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ayush/.local/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ayush/.local/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25->seaborn) (1.14.0)

In [11]:
df1 = pd.read_csv('datasets/results.csv')
df2 = pd.read_csv('datasets/shootouts.csv')

NameError: name 'pd' is not defined

In [6]:
df1.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [7]:
df2.head()

         date    home_team         away_team       winner
0  1967-08-22        India            Taiwan       Taiwan
1  1971-11-14  South Korea  Vietnam Republic  South Korea
2  1972-05-07  South Korea              Iraq         Iraq
3  1972-05-17     Thailand       South Korea  South Korea
4  1972-05-19     Thailand          Cambodia     Thailand

In [8]:
print(df1['tournament'].isnull())
print(df1['tournament'].isnull().sum())

0        False
1        False
2        False
3        False
4        False
         ...
44757    False
44758    False
44759    False
44760    False
44761    False
Name: tournament, Length: 44762, dtype: bool
0

In [9]:
print(df1.describe()) # gives mathematical aspects of the datasets such as mean standard deviation count etc.

         home_score    away_score
count  44762.000000  44762.000000
mean       1.739176      1.178343
std        1.746801      1.393183
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [10]:
print(df2.describe())

              date home_team away_team     winner
count          556       556       556        556
unique         493       163       175        162
top     2016-06-03    Zambia    Uganda  Argentina
freq             5        15        15         14

In [11]:
print(df1.duplicated().sum())

0

In [12]:
print(df2.duplicated().sum())

0

In [13]:
print(df1.info)
print(df1['date'].dtype)
df1['date'] = pd.to_datetime(df1['date'])

<bound method DataFrame.info of              date      home_team away_team  home_score  away_score  \
0      1872-11-30       Scotland   England           0           0
1      1873-03-08        England  Scotland           4           2
2      1874-03-07       Scotland   England           2           1
3      1875-03-06        England  Scotland           2           2
4      1876-03-04       Scotland   England           3           0
...           ...            ...       ...         ...         ...
44757  2023-07-09  United States    Canada           2           2
44758  2023-07-12  United States    Panama           1           1
44759  2023-07-12        Jamaica    Mexico           0           3
44760  2023-07-16         Kernow     Sápmi           2           1
44761  2023-07-16         Mexico    Panama           1           0

                                    tournament        city        country  \
0                                     Friendly     Glasgow       Scotland
1                                     Friendly      London        England
2                                     Friendly     Glasgow       Scotland
3                                     Friendly      London        England
4                                     Friendly     Glasgow       Scotland
...                                        ...         ...            ...
44757                                 Gold Cup  Cincinnati  United States
44758                                 Gold Cup   San Diego  United States
44759                                 Gold Cup    Paradise  United States
44760  CONIFA World Football Cup qualification    Falmouth        England
44761                                 Gold Cup   Inglewood  United States

       neutral
0        False
1        False
2        False
3        False
4        False
...        ...
44757    False
44758    False
44759     True
44760    False
44761     True

[44762 rows x 9 columns]>
object

In [14]:
# if correlation is positive than it means if one will increse than other will also increase 
# if correlation is negative than it means if one will decrease than other will increase ---> inversely proportional
df3 = pd.DataFrame({'home_score':df1['home_score'],'away_score':df1['away_score']})
print(df3.corr())

            home_score  away_score
home_score    1.000000   -0.138719
away_score   -0.138719    1.000000

In [45]:
print(df3)

       home_score  away_score
0               0           0
1               4           2
2               2           1
3               2           2
4               3           0
...           ...         ...
44757           2           2
44758           1           1
44759           0           3
44760           2           1
44761           1           0

[44762 rows x 2 columns]